@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(249 250 251);
}
nav {
  background-color: white;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}
a {
  display: inline-flex; 
  height: 4.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem; 
  padding-top: 0.25rem; 
  align-items: center; 
  border-bottom-width: 2px; 
  font-size: 1rem;
  line-height: 1.25rem; 
  font-weight: 500; 
  color: #111827; 

}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
